.not-found {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-name {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .not-found-name {
    font-size: 32px;
  }
  .not-found{
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
